




#formModifier{
    display: flex;
    flex-direction: column;
     
}

body {
    
    background-color: blue;
    color: white;
    
}

input {
    
    color: green;
}

button {
    color: violet;
}